.commentcard {
    padding: 2px 15px;
    border-radius: 15px;
    background-color: #ced4da;
    margin: 30px 10px;
}

#comment {
    margin: 5px;
    display: flex;
    justify-content: space-around;

}

#comment2 {
    color: black;
    padding: 10px 30px;
    background: #f8f9fa;
}