.card-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    background-color: #e9ecef;
    // border: 3px solid #444647;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25 ease-out;

    h2 {
        text-align: center;
        background-color: #6c757d;
    }


}

.card-container:hover {
    transform: scale(1.05);
}