.assignment {
    display: none;

    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    input[type="date"] {
        background-color: #f5f5f500;
        padding: 15px;
        // transform: translate(-50%, -50%);
        // top: 50%;
        // left: 50%;
        font-family: "Roboto Mono", monospace;
        color: #000000;
        width: 100%;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 5px;
        margin-bottom: 2em;
        border-bottom: 1px solid gray;
        // cursor: pointer;
    }

    ::-webkit-calendar-picker-indicator {
        background-color: #ffffff;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
    }

    .assign {
        margin: 10px 0;
        background-color: rgb(213, 135, 166);
        padding: .7em .5em;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        border-radius: 4px;
        cursor: pointer;
    }

}

.dip {
    display: none;
}