.assignment {
    .assign {
        margin: 10px 0;
        background-color: rgb(213, 135, 166);
        padding: .7em .5em;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        border-radius: 4px;
        cursor: pointer;
    }

}

.dip {
    display: none;
}