.submitcard {
    margin: 5% 20%;
    background: rgb(138, 132, 132);
    padding: 1% 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(9, 10, 10);

}