#deleteIcon {
    // background: url("../233-2338164_back-transparent-background-back-icon-png-png-download.png");
    background: url("../233-2338164_back-transparent-background-back-icon-png-png-download.png");
    width: 40px;
    height: 40px;
    background-size: cover;
}