.people {
    display: none;

    .teacher {
        img {
            border-radius: 50%;
        }

        padding: 20px 15px;

        h3 {

            margin: 10px 0;
        }

        // border: 1px solid black;
        background-color: #adb5bd;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}