.submit {
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    margin-top: 5%;



    #submitBody {
        padding: 2%;

        label {
            font-size: 2em;
        }

        textarea {
            display: block;
            margin: 2em 0;
        }
    }

    .submitted {
        color: rgb(38, 39, 40);
        padding-left: 41.3%;
        font-size: 2.2em;
    }

    #submitheader {
        h1 {
            margin: 10px 10px;
        }

        p {
            padding: 2px;
            // height: 500px;
            width: 80%;
            word-wrap: break-word;
            // background-color: aqua;
            // overflow: hidden;
            margin: 0 50%;
        }

        font-size: 1.5em;
        border-bottom: 2px solid rgb(103, 102, 102);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}