.submit {
    background-color: rgba(141, 161, 95, 0.501);
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    margin-top: 5%;

    #submitheader {
        h1 {
            margin: 10px 10px;
        }


        font-size: 1.5em;
        border: 2px solid rgb(103, 102, 102);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}