.studentcard {
    background-color: #ced4da;
    padding: 15px 15px;
    border-radius: 20px;
    margin: 20px 0;
    // border: 1px black solid;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1fr;

    img {
        border-radius: 50%;
    }

    h4 {
        margin: 10px 0;
    }

    #deleteIcon {
        // background: url("../233-2338164_back-transparent-background-back-icon-png-png-download.png");
        background: url("../../resourse/icon/icons8-delete.gif");
        width: 40px;
        height: 40px;
        display: block;
        background-size: cover;
        position: relative;
        left: 930px;
        top: -80px;
    }
}