.page404 {
    padding: 0 35%;
    color: whitesmoke;

    h1 {
        font-size: 20em;
        margin: 0;
    }

    h3 {
        cursor: pointer;
    }

    h3:hover {

        text-decoration: underline;
    }
}